@{
    ViewBag.Title = "About";
}
<link href="~/Content/homepage.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <p><h2>About</h2></p>
       
        <p>So you’ve just booked that dream trip you’ve always been talking about. You’ve taken care of visas, booked a hotel and everything seems ready. But the more you start thinking about what will actually do when you get there, the more you realise that you don’t really know how to make the best out of your trip. Even if you can find a lot of information online, it won’t be so easy when you’re actually out and about. You just don’t know the streets, the transportation grid, you probably won’t even have mobile internet!</p>

        <p>Isn’t it much easier to just relax and take in the sights and the people when you are visiting a friend? I mean, they live there, they know all the good spots, they know how to move around and they may even introduce you to some of their friends. But you won’t know someone everywhere you go...</p>

            <p>Show Me Around connects you with locals who are willing to meet up and show you all their favorite spots. Just find someone you may have something in common with and start chatting. You can arrange when to meet and what to do, and because locals are always proud of the best their city has to offer, you are guaranteed to explore your dream destination without constantly worrying about what to do or where to go next. From going to a museum to just going out for drinks, with Show Me Around you already know who you are going to meet and what activities you can count on.

            Register now and get matched with thousands of locals all over the world who are dying to show you around.</p>
        
        <p><a class="btn btn-default" href="/Home/Index">Go back &raquo;</a></p>
    </div>
    </div>