@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/homepage.css" rel="stylesheet" />
<div class="jumbotron container">
    <h1>ShowMeAround</h1>
    <p class="lead"> Connect, travel, meet, explore. </p>
    <p style="position:absolute; bottom:25px;"><a href="/Users/Register" class="btn btn-primary btn-lg">Register &nbsp;&raquo;</a></p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Join</h2>
        <p>
<<<<<<< HEAD
            Show Me Around connects you with locals who are willing to meet up and show you their city. Just find someone you may have something in common with and start chatting.
            From going to a museum to just going out for drinks, through Show Me Around you already know who you are going to meet and what activities you can count on.
=======
            Join for free and connect with thousands of locals who would love to show you all the best their city has to offer.
>>>>>>> origin/development

        </p>
        @*<p><a class="btn btn-default" href="/Home/About">learn more &raquo;</a></p>*@
    </div>
   <div class="col-md-4">
        <h2>Connect</h2>
        <p>Head on to your destination knowing that you'll have someone awesome there to show you around.</p>
       <br />
       @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?linkid=301867">learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
<<<<<<< HEAD
        <h2>contact</h2>
        <p>show me around<br>dmaj0914 - group 3</p>
         ucn - university college of northern denmark<br>
        sofiendalsvej 60, 9200 aalborg sv<br />
        <p> denmark</p>
        <p><a class="btn btn-default" href="mailto:1034856@ucn.dk">contact us &raquo;</a></p>
    </div>*@
=======
        <h2>Explore</h2>
        <p>Meet with your matched local and explore the city together. Chances are that you'll be making a lifelong friend in the process.</p>
        <p><a class="btn btn-success btn-lg pull-right" href="/Home/About">Learn more &raquo;</a></p>
    </div>
>>>>>>> origin/development
</div>