@model UI.Models.Matching
@{
    ViewBag.Title = "Matching";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*@foreach (var item in ViewBag.MatchesList as List<Data.Utils.Match>)
            {*@
    <br><br>
    <div class="container-forms">
        <div class="container-fluid well">
            <div class="row">
                <div class="col-md-2">
                    <img src="http://www.gravatar.com/avatar/bbe8907c4b1ff6229e0ee5e140d7ce04?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png" width="100" height="100" class="img-circle">
                </div>

                <div class="col-md-4">
                    @*@item.Traveler.FirstName
                    @item.Traveler.LastName*@
                </div>

                <div class="col-md-4">

                </div>

                <div class="col-md-1">
                    <div class="c100 p25 small center-block">
                        <span>25%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <input type="button" name="Send request" value="Send request" id="btnSendRequest" class="btn btn-primary btn-xs gradient center-block" />

                </div>
            </div>
        </div>
    </div>
@*}*@
