@import url(https://fonts.googleapis.com/css?family=Satisfy);



.jumbotron {
   
    background-image: url(http://i.huffpost.com/gen/2006764/images/o-TOURIST-facebook.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    position:relative;
}

h1 {
    font-size: 25px;
    line-height: 21px;
    font-weight: bold;
    color: white !important;
    text-shadow: 3px 3px 1px #333;
    font-family: 'Satisfy', cursive;
    margin-bottom:0px;
}

.lead {
    margin-top: 0px;
    font-size: 24px !important;
    width: 30%;
    margin-left:30px;
    font-weight: 400 !important;
    line-height: 1.1 !important;
    color: white !important;
    text-shadow: 1px 1px 1px #333;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
