<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShowMeAroundContext" connectionString="data source=kraka.ucn.dk;initial catalog=dmaj0914_3Sem_3;persist security info=True;user id=dmaj0914_3Sem_3;password=IsAllowed;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>